# Target Service Configuration
MONITOR_REST_API_URL=http://localhost:8001/health
MONITOR_POSTGRES_HOST=localhost
MONITOR_POSTGRES_DB=postgres
MONITOR_POSTGRES_USER=postgres
MONITOR_POSTGRES_PASSWORD=postgres_password
MONITOR_POSTGRES_PORT=5432

MONITOR_API_KEY=BCF2C1AF6C6214E205AC298EBEFC8CC0EA832435